@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User.IsInRole("Employee"))
    {
        <h1 class="display-4">Welcome to Admin Panel</h1>
        <p>Admin panel is a place to manage the system records and generate reports.</p>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Virtual Game Store is a place where you can buy games and participate in events.</p>
    }
</div>
