@page
@model VirtualGameStore.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.Id" />
            <div class="form-group">
                <label asp-for="Review.GameId" class="control-label"></label>
                <select asp-for="Review.GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                <span asp-validation-for="Review.GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.AuthorId" class="control-label"></label>
                <select asp-for="Review.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Review.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Title" class="control-label"></label>
                <input asp-for="Review.Title" class="form-control" />
                <span asp-validation-for="Review.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Comment" class="control-label"></label>
                <input asp-for="Review.Comment" class="form-control" />
                <span asp-validation-for="Review.Comment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Review.IsApproved" /> @Html.DisplayNameFor(model => model.Review.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
