@page
@using System.Text.RegularExpressions
@model VirtualGameStore.Pages.Profile.WishList.IndexModel

@{
    ViewData["Title"] = "Wish List";
}

<h3>@ViewData["Title"]</h3>

@foreach (var item in Model.WishList)
{

}
